.Card {
    margin: 20px;
    width: 250px;
    height: 300px;
    /*background-image: url('../../PokeImagenes/Card.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;*/
    font-weight: lighter;
    color: blue;
    text-shadow: 5px 5px 3px rgb(255, 217, 0);
    border-radius: 50px;
    border-color: red;
    box-shadow: 2px 2px 5px 5px red, -2px -2px 5px 5px blue;
    background-color: rgba(255, 255, 255, 0.5);
}

.pokemon{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
}

.pokeImg{
    -webkit-filter: drop-shadow(10px 10px 1px black);
    filter: drop-shadow(10px 10px 1px black);
}

.types{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 5px;
}