.mainContainer{
    height: 100%;
    width: 100%;
    background-image: url('../../PokeImagenes/Home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    position: fixed;
}